.table-special {
    overflow: auto;

    table {
        margin-bottom: 0 !important;
        border: solid thin $border-color;

        th {
            border-bottom-color: $border-color !important;
            color: $secondary;
            font-size: $font-size-sm;
            padding: 0.5rem 0.5rem !important;

            @include media-breakpoint-up(lg) {
                padding: 0.5rem 1.5rem !important;
            }

            &.col-fix {
                width: 1%;
            }

            .col-date {
                display: block;
                min-width: 100px;
            }

            .col-number {
                display: block;
                min-width: 50px;
            }

            .col-action {
                display: block;

                &.action-2 {
                    min-width: 160px;
                }
            }
        }

        td {
            padding: 1rem 0.5rem !important;

            @include media-breakpoint-up(lg) {
                padding: 1.5rem 1.5rem !important;
            }
        }

        .table-action {
            display: flex;
            align-items: center;
            justify-content: center;

            a, form {
                display: block;
            }
        }

    }
}

.table-tool {
    
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 1rem;
    align-items: flex-end;

}